Repository DeveloperAcademy-POSTECH/MC3-Team1-Hatnya, pull requests merged in 2022-07, with the labels that each got.

#6 [SETTING] SwiftLint Setting
  .swiftlint.yml
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Supports/AppDelegate.swift
  Hatnya/Global/Supports/SceneDelegate.swift
  Hatnya/Screens/ViewController.swift
Labels: 🐞 bug, ⚙️ Settings

#8 [ADD] issue & PR template 생성 및 설정 (#2)
  .github/ISSUE_TEMPLATE/add-feature.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ⚙️ Settings

#14 [ADD] StudyRoomView 껍데기 생성
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Extension/UIColor+Extension.swift
  Hatnya/Global/Literal/ColorLiteral.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
  Hatnya/Screens/StudyRoom/UIComponent/StudyChartView.swift
Labels: ▪️ StudyRoom, 🖍 Design

#15 [FEAT] ViewController & View에서 preview를 확인하는 기능
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Extension/ViewController+Preview.swift
Labels: enhancement, ⚙️ Settings, ✨feature

#20 [FEAT] WriteNicknameViewController UI 및 TextField Delegate 구현
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Extension/UITextField+underlined.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: ▪️ WriteNickname

#22 [FEAT] StudyRoom - homework list
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Extension/UIColor+Extension.swift
  Hatnya/Global/Extension/UILabel+StrikeThrough.swift
  Hatnya/Global/Utility/TagColor.swift
  Hatnya/Network/Models/Homework.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
  Hatnya/Screens/StudyRoom/UIComponent/HomeworkListCell.swift
  Hatnya/Screens/StudyRoom/UIComponent/HomeworkListTitleView.swift
Labels: ▪️ StudyRoom, ✨feature

#21 [FEAT] JoinStudyView 구현
  .swiftlint.yml
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Extension/UIButton+Extension.swift
  Hatnya/Global/Resource/Base.lproj/LaunchScreen.storyboard
  Hatnya/Global/Resource/Base.lproj/Main.storyboard
  Hatnya/Global/Resource/JoinStudyView.storyboard
  Hatnya/Global/Supports/Info.plist
  Hatnya/Screens/JoinStudy/JoinStudyViewController.swift
Labels: ▪️ JoinStudy, ✨feature

#25 [ADD] Create Study View 구현
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Extension/UITextField+underlined.swift
  Hatnya/Global/Supports/SceneDelegate.swift
  Hatnya/Screens/CreateStudy/CreateStudyViewController.swift
  Hatnya/Screens/CreateStudy/UIComponent/CyclePickerView.swift
  Hatnya/Screens/CreateStudy/UIComponent/DayButtonStackView.swift
  Hatnya/Screens/CreateStudy/UIComponent/DayButtonView.swift
  Hatnya/Screens/CreateStudy/UIComponent/GetInfoView.swift
  Hatnya/Screens/CreateStudy/UIComponent/SelectCycleDaysView.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: ▪️ CreateStudy, ✨feature

#31 [FEAT] 숙제 목록 편집 화면
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Screens/EditTask/EditTaskViewController.swift
  Hatnya/Screens/EditTask/UIComponent/EditTaskSupplementaryView.swift
  Hatnya/Screens/EditTask/UIComponent/EditTaskTableViewCell.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
  Hatnya/Screens/StudyRoom/UIComponent/HomeworkListCell.swift
  Hatnya/Screens/StudyRoom/UIComponent/HomeworkListTitleView.swift
Labels: ▪️ EditTask, ▪️ StudyRoom, ✨feature

#29 [FEAT] StudyRoomView D-Day 계산
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Extension/Date+Extension.swift
  Hatnya/Global/Extension/String+Extension.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
Labels: ▪️ StudyRoom, ✨feature

#24 [ADD] Study List 구현
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Resource/StudyList.storyboard
  Hatnya/Network/Models/StudyGroup.swift
  Hatnya/Network/Models/StudyInfo.swift
  Hatnya/Screens/StudyList/StudyListTableViewCell.swift
  Hatnya/Screens/StudyList/StudyListViewController.swift
Labels: ▪️ StudyList, ✨feature

#37 [HOTFIX] 빌드 에러 부분 수정
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Network/Models/Member.swift
  Hatnya/Network/Models/StudyCycle.swift
  Hatnya/Network/Models/StudyGroup.swift
  Hatnya/Network/Models/StudyInfo.swift
  Hatnya/Screens/StudyList/StudyListTableViewCell.swift
  Hatnya/Screens/StudyList/StudyListViewController.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
Labels: 🐞 bug

#36 [FEAT] Firebase 프로젝트 초기 설정
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Supports/AppDelegate.swift
  Hatnya/GoogleService-Info.plist
Labels: ✨feature

#43 [HOTFIX] GoogleService-Info.plist reference 추가
  Hatnya.xcodeproj/project.pbxproj
Labels: 🐞 bug, 🕸 network

#39 [ADD] CreateStudy Segmented Picker
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Extension/UITextField+underlined.swift
  Hatnya/Screens/CreateStudy/CreateStudyViewController.swift
  Hatnya/Screens/CreateStudy/UIComponent/CyclePickerView.swift
  Hatnya/Screens/CreateStudy/UIComponent/CycleSegmentedControlView.swift
  Hatnya/Screens/CreateStudy/UIComponent/DayButtonView.swift
  Hatnya/Screens/CreateStudy/UIComponent/GetInfoView.swift
  Hatnya/Screens/CreateStudy/UIComponent/SelectCycleDaysView.swift
Labels: ▪️ CreateStudy, ✨feature

#41 [FEAT] StudyListView 데이터 Firebase와 연결
  Hatnya/Global/Resource/StudyList.storyboard
  Hatnya/Network/Models/StudyGroup.swift
  Hatnya/Screens/StudyList/StudyListViewController.swift
Labels: ▪️ StudyList, ✨feature, 🕸 network

#47 [FEAT] view controller 연결
  Hatnya/Global/Resource/JoinStudyView.storyboard
  Hatnya/Global/Resource/StudyList.storyboard
  Hatnya/Global/Supports/Info.plist
  Hatnya/Screens/CreateStudy/CreateStudyViewController.swift
  Hatnya/Screens/JoinStudy/JoinStudyViewController.swift
  Hatnya/Screens/StudyList/StudyListViewController.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: ▪️ CreateStudy, ▪️ JoinStudy, ▪️ StudyList, ✨feature

#45 [FEAT] ChartView Mock 데이터 연결
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Extension/NSObject+Extension.swift
  Hatnya/Global/Extension/UIColor+Extension.swift
  Hatnya/Network/Models/Homework.swift
  Hatnya/Network/Models/Member.swift
  Hatnya/Network/Models/StudyGroup.swift
  Hatnya/Network/Models/StudyInfo.swift
  Hatnya/Screens/StudyRoom/Cell/StudyChartCollectionViewCell.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
  Hatnya/Screens/StudyRoom/UIComponent/StudyChartView.swift
Labels: ▪️ StudyRoom, ✨feature

#52 [FEAT] StudyRoomView Menu 기능 추가
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: ▪️ StudyRoom, ✨feature

#61 [FEAT] add FirebaseFirestoreSwift Package
  Hatnya.xcodeproj/project.pbxproj
Labels: ⚙️ Settings, ✨feature
