Repository DeveloperAcademy-POSTECH/MC3-Team1-Hatnya, pull requests merged in 2022-08, with the labels that each got.

#53 [FEAT] createStudy button 비활성화
  Hatnya/Global/Resource/JoinStudyView.storyboard
  Hatnya/Global/Resource/StudyList.storyboard
  Hatnya/Network/Models/StudyGroup.swift
  Hatnya/Screens/CreateStudy/CreateStudyViewController.swift
  Hatnya/Screens/CreateStudy/UIComponent/DayButtonStackView.swift
  Hatnya/Screens/CreateStudy/UIComponent/DayButtonView.swift
  Hatnya/Screens/CreateStudy/UIComponent/GetInfoView.swift
  Hatnya/Screens/JoinStudy/JoinStudyViewController.swift
  Hatnya/Screens/StudyList/StudyListViewController.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: ▪️ CreateStudy

#65 [FEAT] 버튼 비활성화
  Hatnya/Global/Resource/JoinStudyView.storyboard
  Hatnya/Screens/CreateStudy/CreateStudyViewController.swift
  Hatnya/Screens/CreateStudy/UIComponent/DayButtonStackView.swift
  Hatnya/Screens/CreateStudy/UIComponent/DayButtonView.swift
  Hatnya/Screens/CreateStudy/UIComponent/GetInfoView.swift
  Hatnya/Screens/JoinStudy/JoinStudyViewController.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: ▪️ CreateStudy, ✨feature

#54 [FEAT] 생성한 방 정보를 파이어베이스 저장
  Hatnya/Network/Models/StudyGroup.swift
  Hatnya/Screens/CreateStudy/CreateStudyViewController.swift
  Hatnya/Screens/CreateStudy/UIComponent/CycleSegmentedControlView.swift
  Hatnya/Screens/CreateStudy/UIComponent/DayButtonStackView.swift
  Hatnya/Screens/CreateStudy/UIComponent/SelectCycleDaysView.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: ▪️ CreateStudy, ✨feature

#67 [FIX] solve merge conflict
  Hatnya/Screens/CreateStudy/UIComponent/DayButtonStackView.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: 🐞 bug

#57 [FEAT] StudyListView에서 StudyRoomView로 넘어가는 내비게이션 구현
  .swiftlint.yml
  Hatnya/Network/Models/StudyGroup.swift
  Hatnya/Screens/CreateStudy/CreateStudyViewController.swift
  Hatnya/Screens/StudyList/StudyListViewController.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: ▪️ StudyRoom, ▪️ StudyList, ✨feature

#64 [FEAT] Studyroom firebase 연결
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Network/Manager/NetworkManager.swift
  Hatnya/Network/Models/Homework.swift
  Hatnya/Network/Models/Member.swift
  Hatnya/Network/Models/StudyCycle.swift
  Hatnya/Network/Models/StudyGroup.swift
  Hatnya/Screens/EditTask/EditTaskViewController.swift
  Hatnya/Screens/EditTask/UIComponent/EditTaskSupplementaryView.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
  Hatnya/Screens/StudyRoom/UIComponent/HomeworkListCell.swift
Labels: 🐞 bug, ▪️ EditTask, ▪️ StudyRoom, ✨feature, 🕸 network

#62 [FEAT] calculate deadline
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Global/Extension/Date+Extension.swift
  Hatnya/Screens/StudyRoom/DeadlineManager.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
Labels: ▪️ StudyRoom, ✨feature

#69 [FIX] fix error from merging PR
  Hatnya/Network/Manager/NetworkManager.swift
  Hatnya/Network/Models/Homework.swift
  Hatnya/Screens/EditTask/EditTaskViewController.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
Labels: 🐞 bug, ▪️ StudyRoom, 🕸 network

#63 [FEAT] 지난회차 정보 파이어베이스에서 불러오기
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Network/Models/FirebaseModel/FirebaseStudyInfo.swift
  Hatnya/Network/Models/FirebaseModel/HomeworkTask.swift
  Hatnya/Screens/StudyRoom/Cell/StudyChartCollectionViewCell.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
  Hatnya/Screens/StudyRoom/ViewModel/StudyRoomViewModel.swift
Labels: ▪️ StudyRoom, ✨feature

#56 [FEAT]: JoinStudyView 에서 입력한 코드로 스터디 검색하기
  Hatnya.xcodeproj/project.pbxproj
  Hatnya/Screens/JoinStudy/JoinStudyViewController.swift
Labels: ▪️ JoinStudy, ✨feature, 🕸 network

#58 [FEAT] WriteNicknameView에서 입력한 데이터를 모델에 추가
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: ▪️ WriteNickname, ✨feature, 🕸 network

#71 [FIX] develop branch conflict 해결
  Hatnya/Network/Manager/NetworkManager.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: 🐞 bug, ▪️ WriteNickname

#76 [FIX] switch tag and checkbox in homework list
  Hatnya/Screens/StudyRoom/UIComponent/HomeworkListCell.swift
Labels: ▪️ StudyRoom

#74 [FIX] join, create 기능 분리
  Hatnya/Screens/JoinStudy/JoinStudyViewController.swift
  Hatnya/Screens/StudyList/StudyListViewController.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
  Hatnya/Screens/WriteNickname/WriteNicknameViewController.swift
Labels: 🐞 bug, ▪️ CreateStudy, ▪️ WriteNickname, ▪️ JoinStudy

#78 [FIX] JoinStudyView label이 보이지 않는 문제
  Hatnya/Global/Resource/JoinStudyView.storyboard
Labels: 🐞 bug, ▪️ JoinStudy

#80 [FEAT] chartView firebase 실시간 데이터로 변경
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
  Hatnya/Screens/StudyRoom/ViewModel/StudyRoomViewModel.swift
Labels: ▪️ StudyRoom, ✨feature

#81 [FEAT] 회차별 숙제 목록 업데이트
  Hatnya/Network/Manager/NetworkManager.swift
  Hatnya/Screens/EditTask/EditTaskViewController.swift
  Hatnya/Screens/StudyRoom/StudyRoomViewController.swift
Labels: 🐞 bug, ▪️ StudyRoom, ✨feature, 🕸 network
